<h3>Login</h3><br>

<form class="sign-in-form" action="<%= api_session_url %>" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>
		<p>Username:</p>
		<input type="text" name="user[username]">
	</label>

	<label>
		<p>Password:</p>
		<input type="password" name="user[password]">
	</label>

	<br>

	<input type="submit" value="Login">

</form>
