<h3>login</h3>

<form class="sign-in-form" action="<%= session_url %>" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>
		<p>username:</p>
		<input type="text" name="user[username]">
	</label>
	
	<label>
		<p>password:</p>
		<input type="password" name="user[password]">
	</label>
		
	<label>
		<br>
		<input type="checkbox" name="user[remember_user]" value="true"> remember me
	<label>
	
	<br>

	<input type="submit" value="login">
	
</form>