<div class="new-comment">

<% if signed_in? %>

	<h5>comment on post</h5>
		<form action="<%= post_comments_url(post) %>" method="POST">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

			<textarea name="comment[content]"></textarea>
			<br>

			<button type="button" class="shawnas">Upload a Photo </button>

			<input type="submit" value="save">
		</form>
	</div>

<% end %>
