<%= navTemplate({ user: user }) %>
<div class="user-profile">
	<div class="user-comments">
		<% user.comments().forEach(function(comment){  %>
			<%= commentTemplate({ comment: comment }) %>
		<% }); %>
	</div>
</div>
