<h3>Create Account</h3><br>


<form class="new-user-form" action="<%= api_users_url %>" enctype="multipart/form-data" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>
		<p>Username:</p>
		<input type="text" name="user[username]">
	</label>

	<label>
		<p>Password:</p>
		<input type="password" name="user[password]">
	</label>

	<label>
		<p>Verify Password:</p>
		<input type="password" name="user[password_confirmation]">
	</label>

	<label>
		<br>
		<input type="checkbox" name="user[remember_user]" value="true"> remember me
	<label>

	<br>

	<input type="submit" value="create account">

</form>
