<h3>create account</h3>


<form class="new-user-form" action="<%= users_url %>" enctype="multipart/form-data" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>
		<p>username:</p>
		<input type="text" name="user[username]">
	</label>
	
	<label>
		<p>password:</p>
		<input type="password" name="user[password]">
	</label>
	
	<label>
		<p>verify password:</p>
		<input type="password" name="user[password_confirmation]">
	</label>
	
	
	<label><p>upload an avatar!</p>
		<input type="file" name="user[avatar]">
	</label>
		
	<label>
		<br>
		<input type="checkbox" name="user[remember_user]" value="true"> remember me
	<label>
	
	<br>

	<input type="submit" value="create account">
	
</form>