<form class="new-text-form" >

	<!-- <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> -->
	<label>
		<p>Title</p>
		<textarea name="post[title]"></textarea>
	</label><br><br>

	<label>
		<p>Project Specifications</p>
		<textarea name="post[text]"></textarea>
	</label><br><br>

  <label>
	  <p>Sub</p>
		<select name="post[subreddit]" class="sub-selector">
			<% if signed_in? %>
			  <% current_user.subscriptions().each do |sub| %>
				  <option value="<%= SubReddit.find(sub.subreddit_id).name %>">
					  <%= SubReddit.find(sub.subreddit_id).name %>
				  </option>
			  <% end %>
			<% end %>
		</select>
	</label>

	<br><br>

	<input class="new-post" type="submit" value="submit">

</form>
