<h3>Post Show Page</h3>

<%= render partial: "posts/show_text", locals: { post: @post, subreddit: @subreddit } %>

<%= render partial: "comments/new_post_comment", locals: {post: @post } %>


<div id="post-comments">

<% @post.comments.each do |comment| %>

	<%= render partial: "comments/show", locals: { comment: comment } %>

<% end %>
