<div class="subreddit-elements clearfix">
	<h3>FRONT</h3>


<!-- <div class="subreddit-nav-bar">
		<ul>
			<li><a class="hot" href="#/front">hot</a></li>
			<li><a class="new" href="#/front">new</a></li>
			<li><a class="controversial" href="#/front">controversial</a></li>
			<li><a class="top" href="#/front">top</a></li>
			<li><a class="best" href="#/front">best</a></li>

		</ul>
	</div> -->


	<div class="subreddit-sidebar">
		<div class="search-submit-area">
			<form class="search-posts">
				<input type="text" name="search" placeholder="search project skeleton">
			</form>
			<a class="new-text" href="#/posts/new">Submit a new text post</a>
			<a class="new-subreddit" href="/subreddits/new">Create your own sub</a>
		</div>

	</div>

</div>
