<%= navTemplate() %><br>
<p>
	<h5 class="about-ps">
		<b class="fancy-words-skeleton">Project Skeleton</b> is a web forum
		devoted to projects, challenges, battles,
		and prompts. <br><br> It allows you to use
		<b class="fancy-words-ps">project specifications</b>
		and a creative community to spark your
		imagination to make cool things.
	</h5>
</p>
<br><br>

<ul class="subreddit-posts">
	<% posts.forEach(function(post){  %>
			<li>
			  <%= textTemplate({ post: post }) %>
			</li>
	<% }) %>
</ul>
