<%= navTemplate() %>
<p>
	<h5 class="about-ps">
		<b class="fancy-words">Project Skeleton</b> is a web forum
		devoted to project challenges. <br> It allows you to use
		a creative community to
		<b class="fancy-words">bring your ideas to life</b>.
	</h5>
</p>
<br>

<ul class="subreddit-posts">
	<% posts.forEach(function(post){  %>
			<li>
			  <%= textTemplate({ post: post }) %>
			</li>
	<% }) %>
</ul>
