// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
	padding: 10px 0px 10px 50px;
}

.comment a {
	display: inline;
}

.comment span.username {
	padding: 2px 5px;
	font-size: 18px;
	color: #3b5998;
}

.comment span.username:hover{
	text-decoration: underline;
}

.comment span.karma {
	font-size: 12px;
	padding: 5px;
}

.comment span.time-ago{
	font-size: 12px;
}

.comment .upvote {
	// color: black;
	// background: #f0f0f0;
	// border: 2px solid black;
	// border-radius: 5px;
}

.comment .vote-buttons a {
	padding: 10px 10px;
}

.comment .downvote {
	// color: black;
	// background: lightblue;
	// border: 2px solid black;
	// border-radius: 5px;
}

.comment .delete {
	// color: white;
	// font-weight: bold;
	// background: black;
	// border: 2px solid white;
	// border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #3b5998;
	// padding: 5px;
}

.comment .delete:hover{
	text-decoration: underline;
}

.comment .upvote:hover {
	background: darkgray;
	// color: white;
}

.comment .downvote:hover {
	background: darkgray;
	// color: white;
}

.comment > .vote-buttons {
	float: left;
}
.comment .content {
	padding: 25px;
	display: inline-block;
	background: #f0f0f0;
	border-radius: 10px;
}

span.comment-link {
	font-size: 12px;
	// color: darkgray;
	font-weight: bold;
	color: #3b5998;
}

span.comment-link:hover{
	text-decoration: underline;
}

span.reply{
	font-size: 12px;
	// color: darkgray;
	font-weight: bold;
	color: #3b5998;
	padding: 5px;
}

span.reply:hover{
	text-decoration: underline;
}

.comment .child {
	padding: 0px 0px 0px 50px;
}

.comment textarea {
	height: 100px;
	width: 500px;
}

/* post show page text areas */

.new-comment {
	margin-left: 20px;
}

.new-comment textarea {
  // margin-left: 20px;
	height: 100px;
	width: 500px;
}

.comment input[type="submit"] {
	padding: 5px 10px;
	background: #f0f0f0;
	border: 2px solid black;
	cursor: pointer;
	font-weight: bold;

}
.comment input[type="submit"]:hover {
	color: white;
	background: darkgray;
}


.comment .child {
	border-left: 1px dashed #ccc;
	margin-top: 5px;
}

.comment-show {
	border-top: 1px solid black;
}
