// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-title {
	padding: 2px;
	margin-left: 60px;
	color: #3b5998;
	display: block;
	font-size: 20px;
	max-width: 75%;
	opacity: 0.8;
}

.post .delete {
	margin-left: 20px;
	color: #3b5998;
}

.post .delete:hover {
	text-decoration: underline;
}

.specs {
	font-size: 24px;
	margin-top: 15px;
	margin-left: 20px;
}

.text-post a {
	display: inline;
}

.text-post span.username {
	color: #3b5998;
	font-size: 14px;
}

.text-post span.username:hover {
	text-decoration: underline;
}

.text-post span.subreddit-name {
	color: white;
	background: orange;
	opacity: 0.8;
	padding: 1px;
	padding-left: 5px;
	border-radius: 10px;
	font-size: 14px;
}

.text-post span.subreddit-name:hover{
	text-decoration: underline;
}

.text-post span.time-ago{
	margin-left: 5px;
	font-size: 14px;
}

.text-post span.karma {
	padding: 0px 25px 0px 1px;
	margin-left: 8px;
	font-size: 26px;
	font-style: bold;
	color: darkgray;
}

.text-post span.poster {
	margin-left: 0px;
	font-size: 14px;
}

.text-post .upvote:hover {
	-webkit-filter: grayscale;
  -webkit-filter: brightness(50%);
}

.text-post .downvote:hover {
	-webkit-filter: grayscale;
  -webkit-filter: brightness(50%);
}

.text-post > .vote-buttons {
	float: left;
	margin-left: 40px;
}

.text-post .text {
	padding: 10px;
	background: #d8d8d8;
	border-radius: 10px;
	display: inline-block;
	width: 70%;
	margin-left: 20px;
}

.text-post .comments {
	color: #8c8c8c;
	font-weight: 900;
	margin-left: 0px;
	font-size: 14px;
	padding-bottom: 35px;
	display: inline-block;
}

.text-post .buffer-zone {
	height: 13px;
}

.text-post .comments:hover {
	text-decoration: underline;
}

.text-post .p-karma {
	margin-left: 20px;
}

#bigger-title {
	font-size: 32px;
}

#bigger-karma {
	font-size: 32px;
}

.sub-selector {
	font-size: 12px;
	font-family: 'Arvo';
	width: 232px;
	height: 35px;
}

.sub-selector:focus {
	outline: 1px solid #3b5998;
}
