// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-title {
	padding: 10px;
	margin-left: 60px;
	color: #3b5998;
	display: block;
	font-size: 28px;
	max-width: 70%;
}

.post .delete {
	margin-left: 20px;
	color: #3b5998;
}

.post .delete:hover {
	text-decoration: underline;
}

.specs {
	font-size: 24px;
	margin-left: 20px;
}

.text-post a {
	// padding: 2px 5px;
	display: inline;
}

.text-post span.username {
	color: #3b5998;
	font-size: 18px;
	// background: lightgray;
	// border: 2px solid white;
	// border-radius: 5px;
	// padding: 2px 5px;
}

.text-post span.username:hover {
	text-decoration: underline;
}

.text-post span.subreddit-name {
	// color: white;
	color: white;
	background: orange;
	// padding: 2px 5px;
	// margin-left: 20px;
	border-radius: 10px;
	padding: 3px;
	font-size: 16px;
}

.text-post span.subreddit-name:hover{
	text-decoration: underline;
}

.text-post span.time-ago{
	margin-left: 5px;
	font-size: 18px;
}

.text-post span.karma {
	// background: white;
	// border: 2px solid black;
	// display: inline-block;
	padding: 2px 5px 2px 1px;
	margin-left: 20px;
	// border-radius: 10px;
	// margin: 0px 0px 0px 5px;
	// font-weight: bold;
}

.text-post .orange {
	// color: black;
	// background: #d8d8d8;
	// border: 2px solid black;
	// border-radius: 5px;
	// background: orange;
}

.text-post .downvote {
	// color: black;
	// background: lightblue;
	// border: 2px solid black;
	// border-radius: 5px;
}

.text-post .delete {
	// color: white;
	// font-weight: bold;
	// background: black;
	// border: 2px solid white;
	// border-radius: 5px;
}

.text-post .upvote:hover {
	-webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
  -webkit-filter: brightness(50%);
}

.text-post .downvote:hover {
	-webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
  -webkit-filter: brightness(50%);
}

.text-post > .vote-buttons {
	float: left;
	margin-left: 20px;
}

.text-post .text {
	padding: 10px;
	background: #d8d8d8;
	border-radius: 10px;
	display: inline-block;
	width: 70%;
	margin-left: 20px;
}

.text-post .comments {
	text-decoration: underline;
	margin-left: 50px;
}

.text-post .p-karma {
	margin-left: 20px;
}

.post-show {
	border-top: 1px solid #d8d8d8;
}

.post > p > a {
	// max-width: 1000px;
}
