// Place all the styles related to the subreddits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subreddit-elements {
	background: white;
	position: relative;
}

.sub-index-header {
	margin-left: 20px;
}

.subreddit-title {
	color: orange;
}

.subreddit-title:hover {
	background-color: #3b5998;
	color: white;
}

.subreddit-elements > h3 {
	display: block;
	float: left;
	padding: 5px 10px;
	font-weight: bold;
}

.subreddit-elements > .subreddit-nav-bar {
	float: left;
}

.subreddit-nav-bar {
	border-right: 3px solid #d8d8d8;
}

.subreddit-nav-bar > ul > li {
	float: left;
	border-left: 3px solid #d8d8d8;
}

.subreddit-nav-bar > ul > li > a {
	padding: 5px 10px;
}

.subreddit-nav-bar > ul > li:hover {
	background: #3b5998;
	color: white;
}

.subreddit-sidebar {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 275px;
}

.search-submit-area > a {
	background: #3b5998;
	opacity: 0.7;
	color: white;
	font-size: 24px;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 5px 0px;
}

.search-submit-area > a:hover {
	background: black;
}

.search-submit-area {
	padding: 10px 10px;
	background: transparent;
}

.subreddit-details {
	border: 2px solid #3b5998;
	border-radius: 10px;
	padding: 10px;
	padding-right: 0px;
	z-index: 2;
	background: white;
	margin-left: 10px;
	margin-right: 10px;
}

.subreddit-details a {
	display: inline;
	background: darkgray;
	border: 2px solid white;
	border-radius: 4px;
	padding: 2px 5px;
	color: white;
	font-weight: bold;
}

.subreddit-details a:hover {
	background: black;
}

ul.subreddit-posts {
	background: white;
}

ul.subreddit-posts > li {
	display: block;
	border: 1px dashed #d8d8d8;
}

ul.subreddit-posts > li:hover {
	transition: background-color 0.5s ease;
  background-color: #f2f2f2;
}

input[type="text"], input[type="password"], textarea {
	font-weight: bold;
	font-size: 16px;
	height: 100%;
	padding: 5px;
	width: 240px;
}

.no-posts {
	margin-top: 50px;
	margin-left: 50px;
	font-size: 36px;
	color: gray;
}
