// Place all the styles related to the subreddits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.subreddit-elements {
	
	background: white;
	position: relative;
	
}

.subreddit-elements > h3 {
	display: block;
	float: left;
	padding: 5px 10px;
	font-weight: bold;
}

.subreddit-elements > .subreddit-nav-bar {
	float: left;
	
}

.subreddit-nav-bar {
	border-right: 2px solid black;
}

.subreddit-nav-bar > ul > li {
	float: left;
	border-left: 2px solid black;
}

.subreddit-nav-bar > ul > li > a {
	padding: 5px 10px;
	
}

.subreddit-nav-bar > ul > li:hover {
	
	background: darkgray;
	color: white;
	
}

.search-submit-area {

}

.subreddit-sidebar {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 275px;
}

.subreddit-sidebar img {
	max-width: 235px;
}
.search-submit-area > a {
	
	background: darkgray;
	color: white;
	border: 2px solid black;
	border-radius: 2px;
	padding: 5px 10px;
	margin: 5px 0px;
}

.search-submit-area > a:hover {
	
	background: black;
}

.search-submit-area {
	padding: 10px 10px;
	background: white;
	
}


.subreddit-details {
	border: 2px solid black;
	padding: 10px;
	padding-right: 0px;
	z-index: 2;
	background: white;
	margin-left: 10px;
	margin-right: 10px;
}

.subreddit-details a {
	display: inline;
	background: darkgray;
	border: 2px solid white;
	border-radius: 4px;
	padding: 2px 5px;
	color: white;
	font-weight: bold;
}


.subreddit-details a:hover {
	background: black;
}

ul.subreddit-posts {
	background: white;

}

ul.subreddit-posts > li {
	display: block;
	border: 1px solid black;
	
}

ul.subreddit-posts > li:hover {
	background: rgb(230, 230, 230);

}


input[type="text"], input[type="password"], textarea {
	
	font-weight: bold;
	font-size: 16px;
	height: 100%;
	padding: 5px;
	width: 240px;
	
}





