// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar-section img {
	max-width: 200px;
}

.user-profile {
	border-top: 1px solid black;
}

#guest-sign-in {
	margin-top: 10px;
	display: inline-block;
	color: white;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 5px;
	background: orange;
	opacity: 0.7;
	cursor: pointer;
}

#guest-sign-in:hover {
	opacity: 1;
}
