// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-profile {
	border-top: 1px solid black;
}

.user-details {

}

#guest-sign-in {
	margin-top: 10px;
	display: inline-block;
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	background: orange;
	border: 2px solid black;
	cursor: pointer;
}
