 <div id="delete-modal">
	 <article>
	     <span class="hide-modal">&times;</span>
		 <p>are you sure you wish to delete this item?</p>
		 <form>
			 <input id="confirm-deletion" type="submit" value="confirm deletion">
			 <input id="cancel-deletion" type="submit" value="cancel">
		 </form>
	</article>
</div>