<footer class="site-footer">
  <div class="info">
    <a href="/">
      <img alt="Footer" src="<%= image_path('skeletonFooter.png') %>" height="90">
    </a><br>
    Project Skeleton, 2015
  </div>

</footer>
