 <div id="login-modal" class="">

	 <article class="clearfix">
		 <!-- <h3>you'll need to login or register to do that</h3> -->

	     <span class="hide-modal">&times;</span>

		 <section class="new-account">

			 <%= render partial: "users/api_new" %>

		</section>

		<section class="sign-in ">

			<%= render partial: "sessions/api_new" %>


			<div>
				<p>Or sign in using a guest account:</p>

	   		 	<a id="guest-sign-in">Guest Sign In</a>

			</div>


		</section>

	</article>



</div>
