<div id="new-subreddit-modal" class="">

	 <article class="clearfix">
		 <h3>create a sub</h3>
	     <span class="hide-modal">&times;</span>

		<form class="new-subreddit-form">
			<label>name
				<br>
				<input type="text" name="subreddit[name]">
			</label>
			<br><br>

			<label>title
				<br>
				<input type="text" name="subreddit[title]">
			</label>
			<br><br>

			<label>description
				<br>
				<textarea name="subreddit[description]"></textarea>
			</label>
			<br><br>

			<label>sidebar
				<br>
				<textarea name="subreddit[sidebar]"></textarea>

			</label>
			<br><br>

			<label>submission text
				<br>
				<textarea name="subreddit[submission_text]"></textarea>

			</label>
			<br><br>

			<input class="new-subreddit" type="submit" value="create">

		</form>
	</article>

</div>
