<div id="new-subreddit-modal" class="">

	 <article class="clearfix">
		 <h3>Create a Sub</h3>
	     <span class="hide-modal">&times;</span>

		<form class="new-subreddit-form">
			<label>name
				<br>
				<input type="text" name="subreddit[name]">
			</label>
			<br><br>

			<label>title
				<br>
				<input type="text" name="subreddit[title]">
			</label>
			<br><br>

			<label>description
				<br>
				<textarea name="subreddit[description]"></textarea>
			</label>
			<br><br>

			<input class="new-subreddit" type="submit" value="submit">

		</form>
	</article>

</div>
