 <div id="new-post-modal" class="">

	 <article class="clearfix">
		 <h3>submit to project skeleton</h3>
	     <span class="hide-modal">&times;</span>

		<section class="new-text">

			<%= render partial: "posts/new_text" %>

		</section>
	</article>

</div>
